<div>
	<div class="container">
		<div class="row text-center">
			<h2 class="text-center">Enregistrement d'un nouvel animal</h2>
			<br/><br/>
			<div class="col-lg-4 col-lg-offset-4 text-center carte">
				<div class="form-adapte">
					<h4 class="titre">Nouvelle entrée</h4>
					<br/>
					<div class="row">
						<div class="col-lg-9 text-left">
							<formulaire-directive></formulaire-directive>
						</div>
						<div class="col-lg-3 text-right">
							<a href="#/animaux" title="liste"><i class="fa fa-list"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>